<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="./assets/images/metanoia_logo.png">
             </div>
             </a>
    
    <a href="/" class="simple-text logo-normal">
        Angular Demo
        </a>
    </div>
    <ul class="nav">
        <li class="active"><a routerLink="/dashboard">DashBoard</a></li>
        <li><span class="simple-text">Employe</span></li>

        <li  routerLinkActive="active"><a routerLink="/employe">Add Employee</a></li>
        <li routerLinkActive="active"><a routerLink="/employe-edit">show Employee</a></li>

     <li><span class="simple-text">Department</span></li>
  
    <li routerLinkActive="active">
     <a routerLink="/department">Add DepartMent</a>
      </li>
       
      <li routerLinkActive="active">
        <a routerLink="/department-edit">Show Department</a>
         </li>
          
</ul>
        
</div>
