<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" required ngModel name="title">

       
        </div>
        <div class="form-group" >
          <label for="content">Content</label>
        <textarea id="content" class="form-control" required ngModel name="content"></textarea>
        
        </div>
      
        <button class="btn btn-primary" type="submit" [disabled]="!postForm.valid">send Post</button>
        </form>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onfetchPost()">Fetch Posts</button>
      <button class="btn btn-danger" (click)="onClearPosts()" [disabled]="loadedPosts.length < 1">Clear Posts</button>
      <!--  -->
</div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <p *ngIf="loadedPosts.length < 1 && !isfetching">No Posts available</p>
    <ul class="list-group" *ngIf="loadedPosts.length >=1 && !isfetching" >
      <li class="list-group-item" *ngFor="let post of loadedPosts">
        <h3>{{ post.title}}</h3>
          <p>{{ post.content}}</p>
          
        </li>
    </ul>
    <p *ngIf="isfetching && !error">Loading...</p>
    <div class="alert alert-danger" *ngIf="error">
   <h1>An Error Occured!</h1>
   <p>{{error}}</p>
   <button class="btn btn-danger" (click)="onHandleError()">Okay</button>
    </div>
    </div>
</div>
</div>